body {
    font-family: 'Open Sans', sans-serif;
    background: #a2a394;
    margin: auto;
    text-align: center;
    cursor: default;
    -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
  
     /*
       Introduced in IE 10.
       See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
     */
     -ms-user-select: none;
     user-select: none;
  }
  
  header {
    background-color: #222;
    line-height: 25px;
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    color: white;
  }
  
  a {
    color: white;
  }
  
  h1 {
    color: #323232
  }
  
  .dot {
    transition: 0.3s;
    stroke-width: 1.5px;
    stroke: #025394;
    opacity: 0.7;
  }
  
  .blue {
    fill: #588c7e;
  }
  
  .yellow {
    fill: #bf4f00;
  }
  
  .dot:hover {
    fill: #025394;
    opacity: 1;
  }
  
  #tooltip {
    position: absolute;
    opacity: 0;
    max-width: 200px;
    word-wrap: word-break;
    padding: 10px;
    background-color: #025394;
    border-radius: 5px;
    pointer-events: none;
    font-weight: bold;
    border: 2px solid #bf4f00;
  }
  
  #svg-container-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #visualization {
    margin: auto;
    position: relative;
  }
  
  h1 {
    margin: 0.25em;
  }